<div id="div_profile_sum">
    <div id="img_profile">
        <img src={{user.image}} alt="user" />
    </div>

    <h2>{{user.name}}</h2>
    <p>{{user.description}}</p>
</div>

<div id="div_links">
    <p>
        <a class="profile_links" href="/home/threads">Post</a>
        <span class="profile_link_size">{{user.posts}}</span>
    </p>
    <p>
        <a class="profile_links" href="/home/messages">Messages</a>
        <span class="profile_link_size">{{user.messages}}</span>
    </p>
    <p>
        <p class="profile_links" href="">Likes</p>
        <span class="profile_link_size">{{user.likes}}</span>
    </p>
    <br />
    <p><a class="profile_links" href="/home/edit/profile">Edit Profile</a></p>
</div>