<div id="div_profile_sum">
    <div id="img_profile">
        <img src={{user.image}} alt="user" />
    </div>

    <h2>{{user.name}}</h2>
    <p>{{user.description}}</p>
</div>

<div id="div_links">
    <p>
        <a class="profile_links" href="/home/posts">Post</a>
        <span class="profile_link_size">{{post.size}}</span>
    </p>
    <p>
        <a class="profile_links" href="/home/messages">Messages</a>
        <span class="profile_link_size">{{message.size}}</span>
    </p>
    <p>
        <a class="profile_links" href="">Likes</a>
        <span class="profile_link_size">{{likes.size}}</span>
    </p>
    <br />
    <p><a class="profile_links" href="">Edit Profile</a></p>
</div>