<a href="/home/user/{{receiverid}}/conversations/{{conversationid}}">
    <div class="div_message_list_item">
        <div class="user_img_list_item">
            <img src={{imageurl}} />
        </div>
        <div class="desc_list_item">
            <!-- todo: change these from placeholder strings to actual values -->
            <div class="message_from">
                {{firstname}} {{lastname}}
            </div>
            <div class="message_date">
                {{conversationdate}}
            </div>

            <div class="message_subject">
                {{topic}}
            </div>
        </div>
    </div>
</a>