<div class="div_post">
    <div class="user_img">
        <img src={{post.image}} alt="">
    </div>

    <div class="post_body">

        <div class="post_head">
            <h3>{{post.title}}</h3>
            <button class="btn_format_white btn_topic">{{topic}}</button>
        </div>

        <div class="post_text">
            {{post.text}}
        </div>

        <div class="post_info">
            <p>{{post.date}}</p>
            <a href="">{{post.replies}} replies</a>
        </div>
    </div>

</div>