<div class="div_post">
    <div class="user_img">
        <a href="/home/profile/{{userid}}">
            <img src={{imageurl}}>
        </a>
    </div>

    <div class="post_body">

        <div class="post_head">
            <h3>{{title}}</h3>
            <button class="btn_format_white btn_topic">{{subject}}</button>
        </div>

        <div class="post_text">
            {{body}}
        </div>

        <div class="post_info">
            <p>{{date}}</p>
            <a id="showreplies" href="javascript:;">{{replycount}} replies</a>
        </div>
    </div>

    <div class="post_replies"></div>
    <div class="div_reply_box" data-threadid="{{threadid}}"></div>
</div>

<script type="text/javascript" src="/js/post.js"></script>