<div id="div_top">
    <div id="div_top_left">
        {{#if onProfile}}

        {{>user_profile_summary}}

        {{/if}}
    </div>
    <div id="div_top_right">
        {{#if onProfile}}
        <form action="/home/user/{{user.userid}}/conversations/create" method="GET">
            {{!-- <form action="/home/user/{{user.userid}}/message" method="GET"> --}}
            <button type="submit" class="message_button">Message</button>
        </form>
        <form action="/home/user/{{user.userid}}/like" method="POST">
            <p>
                <span class=" user_profile_link_size">{{user.likes}}</span>
                <a class="user_profile_links">Likes</a>
                <button type="submit" class="like_button">+</button>
            </p>
        </form>
        <p>
            <span class="user_profile_link_size">{{user.posts}}</span>
            <a class="user_profile_links">Posts</a>
        </p>

        {{/if}}
    </div>
</div>

<div id="div_bottom">
    {{#if onProfile}}

    {{>user_profile_posts}}

    {{/if}}
</div>